<h1 style="text-align: center;">Careers</h1>
<div style="text-align: center;">
<%= link_to "Add Career", new_career_path %>
</div><br>
<style>
.career-thumbnail {
  width: 150px;
   height: 175px;
   text-align: center;
   background-color: rgba(200, 200, 200, 0.5);
   color: black;
   vertical-align: top;
   display: inline-block;
   margin:10px;
   zoom: 1
}


.career-names {
  overflow: auto;
  display: block;
  margin-left: 6%;
  max-width: 100%;
}
.thumbnail {
  color: black;
}
.career-names > div {
  margin: 20px;
  width: 150px;
  height: 100px;
  float: left;
  text-align: center;
}
</style>

<div class="career-names">
    <% @careers.each do |career| %>
    <li class="career-thumbnail">
    <%= link_to career.name, career_path(career), :class => "thumbnail" %> <br>
    <%= image_tag career.career_image, :class => "career-index-thumbnail" %>
    </li>
    <% end %>
</div>
