<h1 style="text-align: center;">Careers</h1>
<div style="text-align: center;">
<%= link_to "Add Career", new_career_path %>
</div><br>
<style>
.career-thumbnail {
  width: 150px;
   height: 175px;
   text-align: center;
   background-color: rgba(200, 200, 200, 0.5);
   color: black;
   vertical-align: top;
   display: inline-block;
   margin:10px;
   position: relative;
   zoom: 1
}


.career-names {
  overflow: auto;
  display: block;
  margin-left: 6%;
  max-width: 100%;
}
.thumbnail {
  color: black;
}
.career-names > div {
  margin: 20px;
  width: 150px;
  height: 100px;
  float: left;
  text-align: center;
}

.hover-disp {
  display: none;
  color: white;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-self: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

</style>

<div class="career-names">
    <% @careers.each do |career| %>
    <li class="career-thumbnail">
      <div class="hover-disp">
        <i class="fas fa-video">
          <%= career.videos.count %>
        </i>
      </div>
    <%= link_to career.name, career_path(career), :class => "thumbnail" %> <br>
    <%= image_tag career.career_image, :class => "career-index-thumbnail" %>
    </li>
    <% end %>
</div>
<script type="text/javascript">
  const allThumbnails = document.getElementsByClassName("career-thumbnail");
  console.log(allThumbnails)
  function handleMouseOver(element){
    const target = element;
    return (e)=>{
      target.getElementsByClassName("hover-disp")[0].style.display = "flex";
    }
  }
  function handleMouseOut(element){
    const target = element;
    return (e) => {
      debugger
      target.getElementsByClassName("hover-disp")[0].style.display = "none";
    }
  }
  for (let i = 0; i < allThumbnails.length; i++) {
    allThumbnails[i].addEventListener("mouseover", handleMouseOver(allThumbnails[i]));
    allThumbnails[i].addEventListener("mouseout", handleMouseOut(allThumbnails[i]));
  }
</script>
