<!DOCTYPE html>
<html>
  <head>
    <style>
    body
{
    background-image: url("http://68.media.tumblr.com/538291ef0e7b0a69c0c141cf21ddc771/tumblr_o8fbvjhVnc1rmbi9co1_1280.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <style>
  .top-bar {
      position: sticky;
      top: 0;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  li {
      float: left;
  }

  li a, .dropbtn {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover, .dropdown:hover .dropbtn {
      background-color: red;
  }

  li.dropdown {
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
      display: block;
  }

  input[type=text] {
    width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
  }

  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
      width: 30%;
  }

  </style>
    <ul class="top-bar">
      <li><a href="/">Home</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" style="background-color: green;" class="dropbtn">Menu</a>
        <div class="dropdown-content">
          <a href="/videos">videos</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </li>
          <input style="padding-bottom: 13px; padding-top: 13px; font-size: 13px" type="text" name="search" placeholder="Search..">
          <li style="float:right"><a href="#">placeholder</a></li>
      </ul>
    <%= yield %>
  </body>
</html>
